PORT=5050
MONGODB_URI=
JWT_SECRET=
NODE_ENV=development

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=

# Firebase Admin
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# External Services
GEMINI_API_KEY=

# Seed Data Credentials
MASTER_ADMIN_EMAIL=
MASTER_ADMIN_PASSWORD=
STAFF_EMAIL=
STAFF_PASSWORD=
